<!DOCTYPE html>
<html lang="en" data-theme="firefinder">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Finder</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link type="text/css" href="/css/input.css"/>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="icon" href="/img/favicon.png">

</head>

<body>
<%- include('partials/navbar') -%>

<!-- Heading -->
<div class="hero bg-base-200 mb-12">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Fire Feed</h1>
    </div>
  </div>
</div>

<!-- Feed Table -->
<div class="overflow-x-auto mb-16">
  <table class="table table-compact w-full">
    <thead>
      <tr>
        <th></th> 
        <th>Name</th> 
        <th>Acres Burned</th> 
        <th>% Contained</th> 
        <th>Cause</th> 
        <th>Discovered</th>
        <th>Lat/Long</th>
        <!-- <th>Added By</th>  -->
      </tr>
    </thead> 
    <tbody>
      <% for(var i=0; i<fires.length; i++) {%>
        <tr>
          <th><%= i + 1 %></th>
          <!-- Link fire name to its personal fire page with more details -->
          <td><a class="no-underline" href="/fire/details/<%= fires[i]._id %>"><%= fires[i].fireName %></a></td>
          <!-- If fire size is known, display it. Replace with unknown if value is null -->
          <% if (fires[i].fireSize) { %>
            <!-- Add commas to fire size number -->
            <td><%= fires[i].fireSize.toLocaleString("en-US") %></td>
          <% } %>
          <% if (!fires[i].fireSize) { %>
            <td>Unknown</td>
          <% } %>
          <!-- If percent contained is known, display it. Replace with unknown if value is null -->
          <% if (fires[i].percentContained) { %>
            <td><%= fires[i].percentContained %>%</td>
          <% } %>
          <% if (!fires[i].percentContained) { %>
            <td>Unknown</td>
          <% } %>
          <!-- If fire cause is known, display it. Replace with unknown if value is null -->
          <% if (fires[i].fireCause) { %>
            <td><%= fires[i].fireCause %></td>
          <% } %>
          <% if (!fires[i].fireCause) { %>
            <td>Unknown</td>
          <% } %>
          <!-- Trim off the time, leaving only the date -->
          <td><%= fires[i].discoveryDate.slice(0,15) %></td>
          <!-- Combine both latitude & longitude, truncate extra decimals -->
          <td><%= fires[i].latitude.toString().slice(0, 6) %>, <%= fires[i].longitude.toString().slice(0, 8) %></td>
        </tr>
      <% } %>
    </tbody> 
    <tfoot>
      <tr>
        <th></th> 
        <th>Name</th> 
        <th>Acres Burned</th> 
        <th>% Contained</th> 
        <th>Cause</th> 
        <th>Discovered</th>
        <th>Lat/Long</th>
        <!-- <th>Added By</th>  -->
      </tr>
    </tfoot>
  </table>
</div>
 
<!-- Add Fire Form -->
<!-- <div class="hero bg-base-200 mb-12">
  <div class="hero-content text-center">
      <div class="my-5">
        <h2 class="text-2xl font-bold min-w-max mb-1">Add a Fire</h2>
        <form action="/fire/createFire" enctype="multipart/form-data" method="POST">
          <div>
            <label class="label">
              <span class="label-text">Incident Name</span>
            </label>
            <input type="text" placeholder="Monument Fire" class="input input-bordered w-full max-w-xs" id="fireName" name="fireName">            
          </div>
          <div>
            <label class="label">
              <span class="label-text">Latitude</span>
            </label>
            <input type="text" placeholder="41.819" class="input input-bordered w-full max-w-xs" id="latitude" name="latitude">
          </div>
          <div class="mb-3">
            <label class="label">
              <span class="label-text">Longitude</span>
            </label>
            <input type="text" placeholder="-122.895" class="input input-bordered w-full max-w-xs" id="longitude" name="longitude">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
  </div>
</div> -->

<!-- refresh GeoJSON Data-->
<div class="hero bg-base-200 mb-5">
  <div class="hero-content text-center">
      <div>
        <form action="/fire/refreshGeoJson" enctype="multipart/form-data" method="POST">
          <button type="submit" class="btn btn-primary mb-5" value="Upload">Refresh Fire Points & Perimeters</button>
        </form>
        <form action="/fire/refreshNasaIR" enctype="multipart/form-data" method="POST">
          <button type="submit" class="btn btn-primary" value="Upload">Refresh NASA IR</button>
        </form>
      </div>
  </div>
</div>

<!-- Add GeoJSON Data-->
<!-- <div class="hero bg-base-200 mb-12">
  <div class="hero-content text-center">
      <div>
        <h2 class="text-2xl font-bold min-w-max mb-1">Add GeoJson Data</h2>
        <form action="/fire/addGeoJson" enctype="multipart/form-data" method="POST">
          <div>
            <label class="label">
              <span class="label-text">Data Name</span>
            </label>
            <input type="text" placeholder="NASA IR" class="input input-bordered w-full max-w-xs" id="dataName" name="dataName">            
          </div>
          <div>
            <label class="label">
              <span class="label-text">GeoJson Data</span>
            </label>
            <input type="text" placeholder="{'type':'Feature','geometry':{'type':'Polygon'..." class="input input-bordered w-full max-w-xs mb-2" id="geoJsonData" name="geoJsonData">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
  </div>
</div> -->

<%- include('partials/footer') -%>

</body>
</html>
  
  <!-- <div class="container flex align-center justify-center mx-auto">
    <h3>My Google Maps Demo</h3>
    <div id="map" class="center"></div>
  </div> -->
  
  <script src="/js/feed.js"></script>
