<!DOCTYPE html>
<html lang="en" data-theme="firefinder">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Finder</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link type="text/css" href="/css/input.css"/>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="icon" href="/img/favicon.png">

</head>

<body>
<%- include('partials/navbar') -%>

<main class="flex flex-col items-center text-center mt-5">
  <section class="about px-10 lg:px-44">
    <% if (user) {%>
      <h1 class="text-5xl font-bold mb-5"><%= user.userName %>'s Profile page</h1>
    <% } else {%>
      <h1 class="text-5xl font-bold mb-5">You are not logged in</h1>
    <% } %>
    <p class="text-center mb-5">User features coming soon! :)</p>
  </section>

  <% if (!user) {%>
    <div class="flex flex-col md:flex-row justify-center mt-5">
      <section id="login" class="m-5 flex flex-col justify-center p-5 bg-neutral rounded-md">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %> <% } %>
          
        <form action="/login" method="POST">
          <div class="mb-3 flex flex-col items-center">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control rounded-md text-center"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
          <div class="mb-3 flex flex-col items-center">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control rounded-md text-center"
              id="exampleInputPassword1"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
      </section>
      
      <section id="signup" class="mx-5 mb-5 flex flex-col justify-center p-5 rounded-md bg-neutral">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el => { %>
              <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
          <% messages.info.forEach( el => { %>
              <div class="alert alert-info"><%= el.msg %></div>
          <% }) %>    
        <% } %>

        <form action="/signup" method="POST">
          <div class="mb-3 flex flex-col items-center">
              <label for="userName" class="form-label">User Name</label>
              <input type="text" class="form-control rounded-md text-center" id="userName" name="userName">
          </div>
          <div class="mb-3 flex flex-col items-center">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control rounded-md text-center" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3 flex flex-col items-center">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control rounded-md text-center" id="password" name="password">
          </div>
          <div class="mb-3 flex flex-col items-center">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control rounded-md text-center" id="confirmPassword" name="confirmPassword">
            </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </section>
    </div>
  <% } else {%>
    <a href="/logout" class="col-3 btn btn-primary mb-5">Logout</a>
  <% } %>
</main>

<%- include('partials/footer') -%>

</body>
</html>
